/* Global Theme */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e297;
    margin: 0;
    padding: 0;
    color: #4b2e15;
}

h1, h2, h3{
    color:#8b4513
}

header{
    background-color: #d9a066;
    padding: 20px;
    text-align: center;
}
 
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: #b97a57;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 20px;
}

.card{
    background-color: #ffffff;
    border: 2px solid #d9a066;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

blockquote{
    background-color: #ffe8c8;
    border-left: 5px solid #b97a57;
    padding: 10px;
    margin: 10px 0;
    font-style: italic;
}

ul ul{
    list-style: circle;
    margin-left: 20px;
}

.flex-section{
    display: flex;
    gap: 20px;
}

.flex-section article{
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d9a066;
}

footer{
    background-color: #d9a066;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

@media (max-width: 700px){
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    .flex-section{
        flex-direction: column;
    }
}
